@import url('https://fonts.googleapis.com/css?family=Lato');

$icon-size-desktop: 70px;
$icon-size-tablet: 50px;
$icon-size-mobile: 40px;
$icon-size-landscape-medium: 35px;
$icon-size-landscape-small: 30px;
$icons: atom babel c chrome css git github gulp handlebars heroku html javascript jquery npm photoshop rails react redux ruby sass webpack yarn;
$projects-container-width-large: 1200px;
$projects-container-width-medium: 800px;
$projects-container-width-small: 600px;

* { box-sizing: border-box; }

body {
  color: white;
  font: normal 16px Helvetica, arial, sans-serif;

  &.no-scroll { overflow: hidden; }
}

.container {
  position: relative;
  height: 100vh;
  min-width: 320px;
  overflow: hidden;
}


/* BACKGROUND */
.top-half,
.bottom-half {
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  z-index: -1;
}

.top-half {
  background: black;
  box-shadow: 0 10px 30px 15px black;
}

.bottom-half {
  top: 50%;
  background: #c5e1a5;
  transition: all 1s;
  z-index: -2;
}


/* TITLE */
.title {
  position: absolute;
  width: 100%;
  top: 20px;
  text-align: center;
  opacity: .75;
  transition: all 2s;
  
  .current { font-size: 2em; }
  .future { font-size: 1.2em; }
  
  .status {
    color: #1ae73c;
    font-weight: bold;
  }

  @media(max-width: 800px) {
    top: 50%;
    transform: translateY(-125%);
  }

  @media(max-width: 500px) { font-size: .8em; }
}


/* NAME */
.name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 7.5em;
  text-align: center;
  user-select: none;
  transition: all 2s;

  @media(max-width: 800px) {
    top: 5%;
    transform: none;
    font-size: 5em;
  }

  @media(max-height: 650px) and (max-width: 800px) { 
    p {
      display: inline-block;

      +p { padding-left: 20px; }
    }
  }

  @media(max-width: 500px) { font-size: 4em; }
  @media(max-height: 500px) { font-size: 3em; }
}


/* ICONS */

.icon {
  position: absolute;
  width: $icon-size-desktop;
  animation: jiggle 2s infinite linear;
  transition: all 2s;

  @media(max-width: 1100px) { width: $icon-size-tablet; }
  @media(max-width: 500px) { width: $icon-size-mobile; }
  @media(max-height: 500px) { width: $icon-size-landscape-medium; }
  @media(max-height: 400px) { width: $icon-size-landscape-small; }
}

/* this will apply an increasing delay to all icons */
@each $icon in $icons {
  $i: index($icons, $icon);
  .#{$icon} { animation-delay: $i * .05s; }
}

@keyframes jiggle {
  0% { transform: rotate(0deg) }
  33% { transform: rotate(5deg) }
  66% { transform: rotate(-5deg) }
  100% { transform: rotate(0deg) }
}


/* SIDEBAR */
.hamburger {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 2;

  span {
    display: block;
    background: white;
    width: 50px;
    height: 5px;
    margin: 5px 0;
    border-radius: 5px;
    transition: all .75s;
  }

  &.open span {
    background: black;

    &:nth-of-type(1) {
      width: 40px;
      transform: translateY(10px) rotate(50deg);
    }

    &:nth-of-type(2) {
      transform: translateX(-75px);
      opacity: 0;
    }

    &:nth-of-type(3) {
      width: 40px;
      transform: translateY(-10px) rotate(-50deg);
    }

    @media(max-height: 600px) {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        width: 30px;
      }
    }
  }

  @media(max-height: 600px) { top: 10px; }
}

.sidebar {
  position: fixed;
  background: white;
  color: black;
  width: 300px;
  height: 100%;
  padding-top: 100px;
  transform: translateX(-300px);
  transition: transform .75s;
  z-index: 1;

  &.open { transform: none; }

  nav a {
    display: block;
    color: black;
    width: 100%;
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    transition: all 1s;

    &:hover { background: lightgray; }
    &.active { background: gray; }

    @media(max-height: 800px) { font-size: 1.6em; }
  }

  @media(max-height: 700px) { padding-top: 65px; }

  @media(max-height: 600px) {
    padding-top: 50px;

    nav a {
      font-size: 1.2em;
      padding: 10px 0;
    }
  }

  @media(max-height: 500px) {
    nav a {
      display: inline-block;
      font-size: 1em;
      width: 33.33%;
    }
  }
}

footer {
  font-size: 2em;
  transition: all 1s;

  div {
    margin: 10px 0;

    @media(max-height: 650px) { margin: 0; }
  }

  a {
    display: inline-block;
    margin: 5px 10px;
    color: black;

    &:hover { opacity: .5; }

    @media(max-height: 410px) {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

  .email {
    display: block;
    margin-top: 50px;
    font-size: .5em;
    text-align: center;

    @media(max-height: 410px) { margin-top: 20px; }
  }

  .social-github { color: #333; }
  .social-stackoverflow { color: #f48024; }
  .social-twitter { color: #1da1f2; }
  .social-facebook { color: #3b5998; }
  .social-lastfm { color: #d51007; }
  .social-linkedin { color: #0077b5; }
  .social-spotify { color: #1db954; }
  .social-quora { color: #a82400; }
  .social-reddit { color: #ff4500; }
  .social-medium { color: #00ab6c; }
  .social-freecodecamp { color: #006400; }
  .social-instagram { color: #c13584; }

  @media(max-height: 600px) {
    margin-top: 30px;
    font-size: 1.75em;
  }

  @media(max-height: 410px) {
    margin-top: 10px;
    font-size: 1.5em;
  }
}

.overlay {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all .75s;
  pointer-events: none;

  &.open {
    opacity: .75;
    visibility: visible;
    pointer-events: auto;
  }
}


/* ABOUT PAGE */
.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px 0 20px;

  .profile-pic {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;

    @media(max-width: 500px) {
      width: 100px;
      height: 100px;
    }

    @media(max-height: 600px) { display: none; }
  }

  .about-me {
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    text-align: justify;
    line-height: 1.5em;

    @media(max-width: 768px) { width: 75%; }

    @media(max-height: 500px) {
      width: 100%;
      padding-top: 30px;
    }
  }

  @media(max-width: 768px) { padding-top: 20px; }
  @media(max-height: 600px) { padding-top: 30px; }
}


/* PROJECTS PAGE */
.projects-container {
  background: #283048;
  background: linear-gradient(to bottom, #859398, #283048);
  min-height: 100vh;
  padding: 10px;
  text-align: center;

  header {
    h1 {
      padding-top: 30px;
      font-size: 3em;
    }
  }

  h2 {
    margin: 20px 0 10px 0;
    font-size: 2em;
  }

  .projects {
    width: $projects-container-width-large;
    margin: 0 auto;
    padding-top: 100px;
    transition: all 1s;

    p {
      width: 50%;
      margin: 0 auto;
      line-height: 1.5em;
      text-align: justify;
    }

    @media(max-width: 1250px) {
      width: $projects-container-width-medium;

      p { width: 75%; }
    }

    @media(max-width: 850px) {
      width: $projects-container-width-small;
      padding-top: 50px;
    }

    @media(max-width: 650px) {
      width: 100%;
      padding-top: 20px;
    }
  }
}

.project {
  position: relative;
  display: inline-block;
  background: white;
  width: ($projects-container-width-large / 3) - 40;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px black;
  transition: all 1s;

  a {
    display: block;
    color: black;
    text-decoration: none;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

    .project-icons {
      height: 1em;
      margin: 5px 0;

      i { margin: 0 4px; }
    }
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .description {
    margin: 15px 0;
    text-align: center;
  }

  .info-btn {
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    transition: all .25s;

    &:hover {
      background: lightgray;
      color: white;
      font-weight: bold;
    }
  }

  @media(max-width: 1250px) {
    width: ($projects-container-width-medium / 2) - 40;
  }

  @media(max-width: 850px) {
    width: ($projects-container-width-small / 2) - 40;
    font-size: .75em;
  }

  @media(max-width: 650px) {
    width: 75%;
    font-size: 1em;
  }
}
